.input {
    height: 4vw;
    width: 32vw;
    border-radius: 09px;
border-color: #c73767;
}

.button {
    border: none;
    background-color: #c73767;
    color: #f5f5f5;
    height: 4vw;
    width: 7vw;
    border-radius: 6px;
}

body {
    font-family: 'Inter', sans-serif; 

}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    display: flex;
    align-items: center;
  
}

.completed {
    text-decoration: line-through green 2px;

}

.remove-button {
    margin-left: 10px;
    cursor: pointer;
    color: rgb(170, 14, 190);
}
